<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ehcache="http://www.springmodules.org/schema/ehcache" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:jcs="http://www.springmodules.org/schema/jcs"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd                        
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
				        http://www.springmodules.org/schema/ehcache
				        http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
				        http://www.springframework.org/schema/jms 
				        http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd
                        http://www.springmodules.org/schema/jcs
                        http://www.springmodules.org/schema/cache/springmodules-jcs.xsd				        
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
						http://www.springframework.org/schema/jee
                        http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd">
<!-- 
    <security:global-method-security
            secured-annotations="enabled" jsr250-annotations="enabled"
            pre-post-annotations="enabled" />
    
    <security:http pattern="/servicos/**" authentication-manager-ref="authenticationManager"  entry-point-ref="restServicesEntryPoint"  create-session="stateless">
		<security:custom-filter ref="restServicesFilter" position="FORM_LOGIN_FILTER" />
	</security:http>
	
    
    <bean id="restServicesEntryPoint" class="br.com.laminarsoft.jazzforms.negocio.controller.security.RestAuthenticationEntryPoint" />
    
    <bean id="restServicesFilter" class="br.com.laminarsoft.jazzforms.negocio.controller.security.RestUsernamePasswordAuthenticationFilter">
		<property name="postOnly" value="false" />
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationSuccessHandler" ref="restServicesSuccessHandler" />
	</bean>
    
	<security:authentication-manager alias="authenticationManager">
	    <security:authentication-provider ref="customAuthenticationProvider"/>
	</security:authentication-manager>    
    
    <bean id="restServicesSuccessHandler" class="br.com.laminarsoft.jazzforms.negocio.controller.security.RestAuthenticationSuccessHandler" />    
-->    

<!-- 
    <security:global-method-security secured-annotations="enabled" />
    <mvc:interceptors>
        <bean id="authenticationInterceptor" class="br.com.laminarsoft.jazzforms.negocio.controller.security.AuthenticationInterceptor">
            <property name="authenticationManager" ref="authenticationManager" />
        </bean>
    </mvc:interceptors>    
    <mvc:annotation-driven />
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="customAuthenticationProvider"/>
    </security:authentication-manager>      
    
    -->  
    
     <mvc:resources location="/WEB-INF/estatico/" mapping="/estatico/**"/>
     <mvc:default-servlet-handler/>
    
    <aop:config proxy-target-class="true" />

    <tx:annotation-driven proxy-target-class="true" />
    
    <task:annotation-driven executor="executorWithPoolSizeRange" scheduler="taskScheduler"/>
    <task:executor id="executorWithPoolSizeRange" pool-size="5-25" queue-capacity="100"/>
    <task:scheduler id="taskScheduler" pool-size="1"/>
    
    <context:component-scan base-package="br.com.laminarsoft.jazzforms" />
    <context:annotation-config/>
    <mvc:annotation-driven />
    
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

     
    
    
    <!-- JMS 
	<bean id="jnditemplate" class="org.springframework.jndi.JndiTemplate">
	    <property name="environment">
	        <props>
	            <prop key="java.naming.factory.initial">org.jboss.naming.remote.client.InitialContextFactory</prop>
	            <prop key="java.naming.provider.url">remote://127.0.0.1:4447</prop>
	            <prop key="java.naming.security.principal">testuser</prop>
	            <prop key="java.naming.security.credentials">password</prop>
	        </props>
	    </property>
	</bean>
	<bean id="connectionfactory" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate" ref="jnditemplate"/>
	    <property name="jndiName" value="jms/RemoteConnectionFactory"/>
	</bean>
	<bean id="destination_error" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate" ref="jnditemplate"/>
	    <property name="jndiName" value="jms/queue/errorQ"/>
	</bean>
	<bean id="credentialsconnectionfactory" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
	    <property name="targetConnectionFactory" ref="connectionfactory"/>
	    <property name="username" value="testuser"/>
	    <property name="password" value="password"/>
	</bean>
	<bean id="jmsTemplateError" class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory" ref="credentialsconnectionfactory"/>
	    <property name="defaultDestination" ref="destination_error"/>
	</bean>
-->
<!--
    <bean id="sender_error" class="com.example.web.Producer">
        <property name="jmsTemplate" ref="jmstemplate_error"/>
    </bean>


	<bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
	    <property name="connectionFactory" ref="credentialsconnectionfactory"/>
	    <property name="destination" ref="destination"/>
	    <property name="messageListener" ref="receiver"/>
	</bean>

	<bean id="receiver" class="com.example.web.Consumer"/>    
-->	
		    
    <!-- Fim JMS -->
    
    
    
    
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="jsonp" value="application/javascript" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
			     
                <!-- JSON View -->
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
				
				<!-- JSONP View -->				
				<bean class="br.com.laminarsoft.jazzforms.negocio.controller.jsonp.MappingJacksonJsonpView" />
				
				<!-- JAXB XML View -->
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<constructor-arg>
						<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="classesToBeBound">
								<list>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Pagina</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Projeto</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.RadioButton</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.TextField</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.TipoEvento</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.ComponentType</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.TitledPane</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.ImplementacaoEvento</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.BPInstance</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorBPInstance</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Deployment</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Land</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.LandEntry</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Historico</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Usuario</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Grupo</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Instancia</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorFormulario</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorDataview</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Linha</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Sugestao</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.TipoSugestao</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.Campo</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.Foto</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.Mensagem</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.AgrupamentoMensagem</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.Anexo</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.Localizacao</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.Equipamento</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.GrupoEquipamento</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.ProcessModel</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.ProcessNode</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoImplantadoVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoImplantadoHistoricoVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.InstanciaVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.InstanciasVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.LinhaVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.AnexoVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.DeploymentVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ParametroVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.PostRequestVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.LandVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.RequestVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.SugestaoVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.TipoSugestaoVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.MensagemVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.BPInstanceVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ValorBPInstanceVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.CampoVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.SVNProjetoVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.DataViewWrapperVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ValorDataviewVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoWrapperVO</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ValorFormularioVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.DataviewOpcaoVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.RequisicaoAtualizacoesVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.RequisicaoAtualizacaoLocalizacaoVO</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoBase</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoEvento</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoMensagem</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoIcon</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoLdap</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoPagina</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoEquipamento</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoProjeto</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoDeployments</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoLands</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoOpcoesDTV</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoInstancia</value>				                
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoOpcaoSelect</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoValorBPInstance</value>     
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoUsuario</value>   
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoProcessModel</value>                                                        
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoSVN</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoDadosAtualizacao</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoAnexo</value>
                                <value>br.com.laminarsoft.jazzforms.persistencia.model.util.InfoRetornoCriacaoUsuarioPublico</value>
				                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.ActionSheet</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Button</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.CheckBox</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.DataView</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.DatePicker</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Email</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Field</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.FieldSet</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.FormPanel</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Geolocation</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Hidden</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Image</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Label</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Layout</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.List</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Map</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.MessageBox</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.NavigationView</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.NestedList</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Number</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Option</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Panel</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Password</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Picker</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Radio</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.SegmentedButton</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Select</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Sheet</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Slider</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Spacer</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Spinner</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Tab</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TabPanel</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Text</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TextArea</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TitleBar</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Toggle</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.ToolBar</value>                  
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Carousel</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Camera</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Chart</value>
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Icon</value>                     
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Component</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Container</value>                
				                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.GPSField</value>
				                </list>
							</property>
						</bean>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>



	<bean id="transactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="userTransaction" ref="jtaUserTransaction" />
		<property name="allowCustomIsolationLevels" value="true" />
	</bean>

	<bean id="jtaUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
	</bean>



	<aop:config proxy-target-class="true" />

	<tx:annotation-driven proxy-target-class="true" />

 <!-- 
	<bean id="dataSource_local" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/jazzforms" />
		<property name="username" value="jazzforms" />
		<property name="password" value="123456" />
		<property name="poolPreparedStatements" value="true" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="2" />
	</bean>
  -->
  
 
 	<jee:jndi-lookup id="dataSource_JBoss" jndi-name="java:jboss/datasources/jazzformsDS"></jee:jndi-lookup> 
	
	<bean id="locale" class="java.util.Locale">
		<constructor-arg index="0" value="pt" />
		<constructor-arg index="1" value="BR" />
	</bean>

	<bean id="bundle" class="java.util.ResourceBundle" factory-method="getBundle">
		<constructor-arg index="0" type="java.lang.String" value="negocio_msgs" />
		<constructor-arg index="1" type="java.util.Locale" ref="locale" />
	</bean>
	

	<!-- *******************************
	     ***** CACHE CONFIGURATION *****
	     ******************************* -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
	    <property name="cacheManager" ref="ehcache"/>
	</bean>
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	    <property name="configLocation" value="classpath:ehcache.xml"/>
	    <property name="shared" value="true"/>
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource_JBoss" />
		<property name="annotatedClasses">
			<list>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Pagina</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Projeto</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.RadioButton</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.TextField</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.TipoEvento</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ComponentType</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.TitledPane</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ImplementacaoEvento</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.BPInstance</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorBPInstance</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Historico</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Usuario</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Grupo</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Mensagem</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.AgrupamentoMensagem</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Land</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.LandEntry</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Sugestao</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.TipoSugestao</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Anexo</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Localizacao</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Equipamento</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.GrupoEquipamento</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoImplantadoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoImplantadoHistoricoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.InstanciaVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.InstanciasVO</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ValorDataviewVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.MensagemVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.AnexoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.LinhaVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.SVNProjetoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.DataViewWrapperVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.PostRequestVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.CampoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.LandVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ProjetoWrapperVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.SugestaoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.TipoSugestaoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.ValorFormularioVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.DataviewOpcaoVO</value>    
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.SVNProjetoVO</value>          
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.RequisicaoAtualizacoesVO</value>  
                <value>br.com.laminarsoft.jazzforms.persistencia.model.wrapper.RequisicaoAtualizacaoLocalizacaoVO</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Deployment</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Instancia</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorFormulario</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ValorDataview</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Linha</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Campo</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.Foto</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ProcessModel</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.ProcessNode</value>
                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.ActionSheet</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Button</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.CheckBox</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.DataView</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.DatePicker</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Email</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Field</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.FieldSet</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.FormPanel</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Geolocation</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Hidden</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Image</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Label</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Layout</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.List</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Map</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.MessageBox</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.NavigationView</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.NestedList</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Number</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Option</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Panel</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Password</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Picker</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Radio</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.SegmentedButton</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Select</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Sheet</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Slider</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Spacer</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Spinner</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TabPanel</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Text</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TextArea</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.TitleBar</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Toggle</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Tab</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.ToolBar</value>                  
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Icon</value>                     
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Carousel</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Chart</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Camera</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Component</value>                
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.Container</value>
                <value>br.com.laminarsoft.jazzforms.persistencia.model.senchawrapper.GPSField</value>                
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</prop>
				<prop key="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>
				<prop key="shared-cache-mode">ENABLE_SELECTIVE</prop>
				
<!-- 				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.infinispan.JndiInfinispanRegionFactory</prop>
				<prop key="hibernate.cache.infinispan.cachemanager">java:jboss/infinispan/hibernate</prop>
 -->				
			</props>
		</property>
	</bean>

</beans>